<!-- 网站上的文字(h1大标题，h2中标题，数字越大字越小) -->
<body bgcolor="#green">
<h1 style="text-align:center">网站设计中，请稍等</h1>
<h2>hello</h2>
<h3>hello</h3>
<p class="tiy"><a href="/he">测试</a></p>
<p class="tiy"><a href="http://ybt.ssoier.cn:8088/index.php">信息奥赛题目</a></p>
<p class="tiy"><a href="http://id5.163.com/">第五人格官网</a></p>
<p class="tiy"><a href="https://www.w3school.com.cn/html/html_forms.asp">HTML教程</a></p>
<p class="tiy"><a href="http://browser/">我的数据库</a></p>
<p class="tiy"><a href="https://www.baidu.com/">百度</a></p>
<p class="tiy"><a href="https://mail.qq.com/">QQ邮箱</a></p>
<p class="tiy"><a href="https://github.com/">GitHub</a></p>
</body>
1088/1089